# {{ ansible_managed }}
*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

#Syn-flood protection
-A INPUT -p tcp ! --syn -m state --state NEW -j DROP

#Force SYN packets check
-A INPUT -f -j DROP

#Force Fragments packets check
-A INPUT -p tcp --tcp-flags ALL ALL -j DROP

#XMAS packets
-A INPUT -p tcp --tcp-flags ALL NONE -j DROP

# Allow servers to pass traffic
{% for item in iptables_default_ports %}
-A INPUT -m state --state NEW -p {{item.protocol}} --dport {{item.port}} -j ACCEPT
{% endfor %}

{% if iptables_open_ports is defined %}
{% for item in iptables_open_ports %}
-A INPUT -m state --state NEW -p {{item.protocol}} --dport {{item.port}} -j ACCEPT
{% endfor %}
{% endif %}

# Accept packets belonging to established and related connections
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

# Allow pings
-A INPUT -p icmp --icmp-type any -j ACCEPT

# Set access for localhost
-A INPUT -i lo -j ACCEPT

# Set default policies for INPUT, FORWARD and OUTPUT chains
-P INPUT DROP 
-P FORWARD DROP
-P OUTPUT ACCEPT

COMMIT
